
.intro-header {
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
  }
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
  }
  @media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
      padding: 150px 0;
    }
  }
  .intro-header .site-heading,
  .intro-header .page-heading {
    text-align: center;
  }
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
  }
  .intro-header .site-heading .subheading,
  .intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: var(--monoFontFamily);
    font-weight: 300;
    margin: 10px 0 0;
    color:lightgrey
  }
  .intro-header .post-heading .subheading,
  .intro-header .post-heading .meta {
    line-height: 1.1;
    display: block;
  }
  .intro-header .post-heading .subheading {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin: 10px 0 30px;
    font-weight: 600;
  }
  @media only screen and (min-width: 768px) {
    .intro-header .post-heading h1 {
      font-size: 55px;
    }
    .intro-header .post-heading .subheading {
      font-size: 30px;
    }
  }
  @media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
      font-size: 80px;
    }
  }
  .intro-header .post-heading h1 {
    font-size: 35px;
  }
  .intro-header .post-heading .meta {
    font-family: 'Lora', 'Times New Roman', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
  }
  .intro-header .post-heading .meta a {
    color: white;
  }
  .intro-header .site-heading,
  .intro-header .page-heading, 
  h1 {
    text-align: center;
    font-family: var(--monoFontFamily);
  }

  .navbar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    box-sizing: border-box; /* Include padding and borders */
  }

  .navbar .brand {
    text-shadow: none;
  }

  /* color of non-selected non-hovered links */
  .navbar .nav>li>a { 
    text-shadow: none;
    color: #BBBBBB; /* Lighter grey color */
}

  /* color of non-selected hovered links */
  .navbar .nav>li>a:hover { 
    text-shadow: none;
    color: #FFFFFF; /* White color for readability */
    background-color: rgba(255, 255, 255, 0.1);
  }

/* background of all menu */
.navbar .nav.pull-right {
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
}

/* the whole bar from left to right */
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  border-width: 0 0 0px;
}

/* selected menu item */
.navbar .nav>.active>a, .navbar .nav>.active>a:focus, .navbar .nav>.active>a:hover {
  color: #FFFFFF; /* White color for readability */
  background-color: rgba(255, 255, 255, 0.3); /* Slightly lighter background */
}

.intro-header .site-heading,
.intro-header .page-heading, 
h1 {
  text-align: center;
  border-width: 0 0 0px;
}

body {
    background-color: white;
}

.site-name {
  position: fixed;
  top: 20;
  left: 20;
  color: #BBBBBB;
}

.site-name:hover {
  color: #FFFFFF;
}

.brand .site-name {
  font-size: 16px;
}

header.page-header h1 {
  font-family: var(--sansFontFamily);
}

.article-content, div.recent-posts p {
  font-family: var(--sansFontFamily);
  font-size: 1.0rem;
  overflow-wrap: break-word;
}

html {
  height: 100%; /* Ensure html covers the full height */
}

body {
  margin: 0; /* Remove default margin */
  height: 100%; /* Ensure body covers full height of the content */
  background: linear-gradient(to bottom, #404080 0%, #000000 100%) no-repeat fixed; 
  background-attachment: fixed; /* Fix background to viewport */
}

/* Existing styles for .intro-header and other elements */
.intro-header {
  background-color: #808080; /* This might be overridden by the gradient */
  /* Other existing styles */
}

/* Add or adjust your existing CSS below */
#content {
  background-color: white; /* Sets the background to white */
  padding: 0px; /* Adds padding around the text for better readability */
  margin: 0 auto; /* Centers the content column */
  width: 60%; /* Adjusts the width of the content column, you might need to tweak this */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Optional: Adds a subtle shadow around the content column for better separation */
}

#content {
    background-color: white;
    display: flex;
    justify-content: center;
}

#content-inner {
    width: 80%; /* Adjust this value to control text width within the narrowed white area */
    /* Ensure text and other elements inside #content use #content-inner for their width */
}

.row-fluid {
  margin-left: 0%;
  margin-right: 0%;
}

#article-sidebar {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; 
  padding-right: 20px; 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-left: 0px;
  margin-bottom: 40px;
}

.container-fluid {
  padding: 0;
}

.article-content blockquote {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: #fff8df;
  border-left: 5px solid #EED69B;
}

.page-header {
  border-bottom: 0px solid #808080;
}

.site-name-image {
  width: 60px;
  height: 60px;
  opacity: 0.4;
}