{% extends 'base.html' %}

{% block title %}
About RawCircuit · {{ super() }}
{% endblock title %}

{% block head_description %}
All about {{ SITENAME|striptags|e }}.
{% endblock head_description %}
{% block content %}

<div class="row-fluid">
    <header class="page-header span8 offset2">
        <h1>About</h1>
    </header>
</div>

<div class="row-fluid">
    <div class="span8 offset2">
        <p></p>
        <h1>RawCircuit.</h1>
        <p>All editorial decisions, selections, summaries, and comments are made by editor and contributor synthonnel.</p> 
        <p>View the <a href="{{ SITEURL }}/{{ AUTHORS_URL }}">editors and contributors</a> synthonnel list.</p>
        <p>View the <a href="{{ SITEURL }}/{{ PRIVACY_URL }}">Privacy Statement</a>.</p>
        <p>Questions? Ask <a href="https://chat.openai.com/g/g-JMkQXVDAz-rawcircuitgpt" title="RawCircuitGPT" target="_blank" rel="nofollow noopener noreferrer">RawCircuitGPT</a>.</p> 
        <p></p>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset2">
        <p></p>
        <h4>Credits</h4>
        <p>News sourced from <a href="https://newsapi.org/" title="News API Home Page" target="_blank" rel="nofollow noopener noreferrer">NewsAPI</a>.</p>
        <p>Local API provided by <a href="https://lmstudio.ai/" title="LM Studio Home Page" target="_blank" rel="nofollow noopener noreferrer">LM Studio</a>.</p>
        <p>Local API provided by <a href="https://github.com/oobabooga/text-generation-webui" title="oobabooga text-generation-webui github Page" target="_blank" rel="nofollow noopener noreferrer">oobabooga</a>.</p>
        <p>Local models sourced from <a href="https://huggingface.co/" title="Hugging Face Home Page" target="_blank" rel="nofollow noopener noreferrer">Hugging Face</a>.</p>
        <p>Static site generator by <a href="http://getpelican.com/" title="Pelican Home Page" target="_blank" rel="nofollow noopener noreferrer">Pelican</a>.</p>
        <p>Website theme based on <a href="https://elegant.oncrashreboot.com/" title="Theme Elegant Home Page" target="_blank" rel="nofollow noopener noreferrer">Elegant</a>.</p>
        <p></p>
    </div>
</div>

<div class="row-fluid">
    <div class="span8 offset2">
        <p></p>
        <h4>Copyright</h4>
        <p>
            All product names, logos, and brands are property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement.
        </p>
        <p>
            <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Attribution 4.0 International<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p>
        </p>
    </div>
</div>

{% endblock content %}
